.card-receitas {
  display: flex;
  margin-top: 1em;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .card-receitas__item {
    width: calc(25% - 20px); 
    max-width: 400px;
    height: auto;
    aspect-ratio: 1; 
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05); 
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h3 {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 10px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      font-size: clamp(16px, 2vw, 24px); 
      font-weight: bold;
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff;
      font-size: clamp(12px, 1.5vw, 18px); 
    }
  }

  @media (max-width: 1024px) {
    .card-receitas__item {
      width: calc(33.33% - 20px);
    }
  }

  @media (max-width: 768px) {
    .card-receitas__item {
      width: calc(50% - 20px); 
    }
  }

  @media (max-width: 480px) {
    .card-receitas__item {
      width: 100%;
    }

    h3 {
      font-size: clamp(14px, 4vw, 18px);
    }

    p {
      font-size: clamp(10px, 3vw, 14px);
    }
  }
}
