.barra-pesquisa {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;

  input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }

  button {
    border: none;
    outline: none;
    background-color: #e17b0d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}